<div class="news">
  <h2>Technical Skills</h2>
  <div class="table-responsive">
    <table class="table table-sm table-borderless">
      <tr>
        <th scope="row" style="width: 20%">Languages:</th>
        <td>Python, C++, C, Java, SQL</td>
      </tr>
      <tr>
        <th scope="row" style="width: 20%">Technologies and Frameworks:</th>
        <td>PyTorch, TensorFlow, Pandas, Azure Databricks, Google Cloud Platform, Apache Spark, AWS, Tableau</td>
      </tr>
    </table>
  </div>
</div>